@import 'src/styles';

body {
  display: flex;
  flex-direction: column;
  background-color: #EBEDF8;
  height: 1150px;

  .content {
    flex: 1 0 auto;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 6%;
    margin-bottom: 3%;

    .happy-bunch-party-of-three {
      height: 211px;
      width: 483px;
      margin-left: 33%;
    }

    .element-flex-social {
      margin-left: 29%;
      margin-top: 2%;
      display: flex;

      .hands-denied {
        height: 32px;
        width: 32px;
        margin-right: 1%;
      }

      .validez-les-pre-requ {
        height: 36px;
        color: #1B2B67;
        font-family: $poppins;
        font-size: 34px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 36px;
        text-align: center;
      }
    }

    .rectangle {
      height: 211px;
      width: 668px;
      border-radius: 4px;
      background-color: #FFFFFF;
      margin-left: 28%;
      margin-top: 5%;

      .malheureusement-nous {
        height: 144px;
        width: 631px;
        color: #22333B;
        font-family: $rubik;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 36px;
        text-align: center;
        padding-top: 5%;
        padding-left: 2%;
      }
    }

    .bg {
      height: 54px;
      width: 308px;
      border-radius: 4px;
      background-color: #4833E3;
      box-shadow: 0 2px 4px 0 rgba(72, 51, 227, 0.4);
      margin-left: 40%;
      border-color: transparent;

      .text {
        height: 29px;
        width: 268px;
        color: #FFFFFF;
        font-family: $rubik;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 29px;
        text-align: center;
      }
    }
  }

  .footer {
    flex-shrink: 0;
  }
}


@media screen and (max-width: 1024px) {
  body {
    display: flex;
    flex-direction: column;
    background-color: #EBEDF8;
    height: 1150px;
    overflow-x: hidden;
    overflow-y: hidden;

    .content {
      flex: 1 0 auto;
      margin-left: 10%;
      margin-right: 10%;
      margin-top: 6%;
      margin-bottom: 3%;

      .happy-bunch-party-of-three {
        height: 211px;
        width: 483px;
        margin-left: -19%;
      }

      .element-flex-social {
        margin-left: -3%;
        margin-top: 2%;
        display: flex;

        .hands-denied {
          height: 32px;
          width: 32px;
          margin-right: 1%;
        }

        .validez-les-pre-requ {
          height: 36px;
          color: #1B2B67;
          font-family: $poppins;
          font-size: 25px;
          font-weight: bold;
          letter-spacing: 0;
          line-height: 36px;
          text-align: center;
        }
      }

      .rectangle {
        height: 26%;
        width: 100%;
        border-radius: 4px;
        background-color: #FFFFFF;
        margin-left: 0;
        margin-top: 15%;

        .malheureusement-nous {
          height: 144px;
          width: 100%;
          color: #22333B;
          font-family: $rubik;
          font-size: 16px;
          letter-spacing: 0;
          line-height: 36px;
          text-align: center;
          padding-top: 5%;
          padding-left: 0;
        }
      }

      .bg {
        height: 54px;
        width: 308px;
        border-radius: 4px;
        background-color: #4833E3;
        box-shadow: 0 2px 4px 0 rgba(72, 51, 227, 0.4);
        margin-left: 0;
        border-color: transparent;

        .text {
          height: 29px;
          width: 268px;
          color: #FFFFFF;
          font-family: $rubik;
          font-size: 16px;
          font-weight: bold;
          letter-spacing: 0;
          line-height: 29px;
          text-align: center;
        }
      }
    }

    .footer {
      flex-shrink: 0;
    }
  }
}
