<app-header></app-header>
<body>


<div class="content">

    <img class="happy-bunch-party-of-three" src="./assets/img/KO.svg"/>
    <div class="element-flex-social">
        <img class="hands-denied" src="./assets/img/Hands%20-%20Denied.svg"/>
        <p class="validez-les-pre-requ">Inscription non prise en compte !</p>
    </div>
    <div class="rectangle">
        <p class="malheureusement-nous">Vous étes déjà inscrit à cet événement.
            <br/><br/>Nous vous invitons à effectuer une nouvelle recherche</p>
    </div>
    <br/><br/>
    <button [routerLink]="['/evenements']" class="bg"><span class="text">Effectuer une nouvelle recherche</span>
    </button>
</div>
<app-footer class="footer"></app-footer>
</body>

