<app-header [minified]="true"></app-header>
<body>
<div class="content">
    <img class="happy-bunch-party-of-three" src="./assets/img/KO.svg"/>
    <div class="element-flex-social">
        <img class="hands-denied" src="./assets/img/Hands%20-%20Denied.svg"/>
        <p class="validez-les-pre-requ">Erreur Inscription !</p>
    </div>
    <div class="rectangle">
        <p class="malheureusement-nous">Malheureusement nous n’avons pas pu valider votre inscription.
            <br/><br/>Nous vous invitons à effectuer une nouvelle recherche qui vous correspond mieux</p>
    </div>
    <br/><br/>
    <button [routerLink]="['/evenements']" class="bg"><span class="text">Effectuer une nouvelle recherche</span>
    </button>
</div>
<app-footer class="footer"></app-footer>
</body>

