// Variables CSS
:root {
  --texte: #1b2b67;
  --grey: #22333B;
}
$primary-color: #135dfe;
$blue-app: #4833E3;
$white: #FFFFFF;
$black: #000000;
$shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24);
$input-color: #EBEDF8;
$danger: #FF4500;
$danger-background: #FCF6F6;
$mention-color: #22333B;
$placeholder-color: #45467A;
