// Variables CSS
:root {
  --background: #ebedf8;
  --texte: #1b2b67;
  --violet: #4833e3;
  --violet-shadow: 0rem 0.125rem 0.25rem rgba(72, 51, 227, 0.4);
  --violet-hover: rgba(72, 51, 227, 0.8);
  --violet-placeholder: #45467a;
  --rouge: #ae170d;
  --vert: #39da8a;
  --vert-clair: #15e67d;
  --vert-tres-clair: #a0e1c0;
  --mauve: #ddddff;
}
