*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-weight: normal;
}

html,
body {
  height: 100%;
}

button {
  padding: 0;
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
}

ol,
ul {
  list-style: none;
}

p {
  margin-top: 0;
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
}
