<div class="wrapper">
    <app-header [minified]="true"></app-header>
    <main role="main">
        <div class="container-xl">
            <nav class="breadcrumb" aria-label="Fil d'ariane" *ngIf="isWideScreen | async">
                <ul>
                    <li>
                    <a [routerLink]="['/evenements']">Accueil</a>
                    </li>
                    <li aria-current="page">Conditions générales d'utilisation</li>
                </ul>
            </nav>

            <h1 class="mb-5">Conditions générales d'utilisation</h1>
            <p>
                L’utilisateur du service doit respecter ces conditions générales d’utilisation. Elles peuvent être modifiées par
                Pôle emploi et s’imposent à l’utilisateur dès leur mise en ligne. L’utilisateur est donc invité à consulter
                régulièrement la dernière version mise à jour.
                Dernière modification : 09 juillet 2021.
            </p>
            <h2>1. Informations légales</h2>
            <p>Editeur : Pôle emploi, 1-5 avenue du Docteur Gley, 75020 Paris. Tél : 33(0)140306600.
                Directeur de la publication : Jean Bassères, directeur général
                Hébergeur : OVH, 2 rue Kellermann, 59 100 Roubaix. Tél : 33(0)972101007.
            </p>
            <h2>2. Objet du service</h2>
            <p>
                Le service a pour objet de mettre en visibilité des évènements en lien avec l’emploi et de permettre à
                l’utilisateur disposant d’un espace personnel sur le site www.pole-emploi.fr de s’inscrire aux évènements de son
                choix et, le cas échéant, d’y participer.
                Les évènements proposés peuvent être, par exemple, un job dating, un forum de l’emploi permettant de rencontrer
                des recruteurs ou une réunion d’informations pour découvrir un secteur d’activités, un métier ou une formation.
                Ces évènements peuvent avoir lieu en présentiel ou à distance.
                A partir de la page d’accueil du service, l’utilisateur accède à la liste complète des événements proposés par
                Pôle emploi. Pour chaque évènement, les éléments suivants sont mentionnés : l’intitulé et la date de
                l’évènement, le nombre de places restantes, le type de public auquel est destiné l’évènement et le lieu de
                l’évènement.
                En cliquant sur l’onglet « Je découvre » accessible à partir de l’événement, l’utilisateur accède à la fiche
                technique de l’événement qui comprend les informations suivantes : description synthétique de l’évènement, les
                bénéfices attendus pour l’utilisateur, le type de recruteurs/intervenants, le type d’offre d’emploi rattachée à
                l’évènement, les pré-requis pour participer à l’évènement ainsi que les phases du déroulé de l’évènement.
                Le service suggère également à l’utilisateur des évènements en lien avec son profil professionnel à partir des
                filtres proposés par l’outil. Ces filtres sont les suivants : niveau scolaire (diplôme), type de rencontres
                (typologies d’évènement) public ciblé par l’évènement (jeunes, séniors, débutants), zone géographique
                (département), modalités de participation (à distance ou en présentiel) et le nombre de places restantes.
                Les événements sont proposés par Pôle emploi, le cas échéant, en partenariat avec des organismes tiers.
            </p>
            <h2>3. Modalités relatives à l’inscription à un évènement</h2>
            <p>
                Pour s’inscrire à un événement, l’utilisateur clique sur le bouton « Je m’inscris » situé en haut à droite de la
                fiche technique de l’évènement.
                L’utilisateur peut utiliser le bouton « Se connecter avec Pôle emploi » ou, dans le cas où il ne dispose pas
                d’identifiants de connexion Pôle emploi, définir son profil en précisant ses nom, prénom, civilité, date de
                naissance, numéro de téléphone, adresse de messagerie électronique, niveau de diplôme et savoirs-être.
                L’utilisateur précise également s’il dispose du permis de conduire et le numéro du département dans lequel les
                évènements sont susceptibles de l’intéresser.
                Pour valider son inscription à un évènement, l’utilisateur coche les pré-requis nécessaires pour y participer
                puis clique sur l’onglet « Valider ses réponses ».
                L’utilisateur reçoit une confirmation de son inscription sur la messagerie électronique connue de Pôle emploi
                ainsi qu’une enquête de satisfaction relative à son expérience utilisateur du service. La veille de l’événement,
                l’utilisateur reçoit un rappel de sa participation à l’évènement et les codes de connexion lorsque l’évènement a
                lieu à distance.
                L’utilisateur s’engage à participer à l’évènement et, dans le cas où il est dans l’impossibilité d’y participer,
                d’informer Pôle emploi via le bouton prévu à cet effet accessible à partir du message de confirmation de son
                inscription. Au terme de l’évènement, l’utilisateur est invité à compléter l’ enquête de satisfaction reçue en
                même temps que sa confirmation de participation à l’évènement.
            </p>
            <h2>4. Protection des données à caractère personnel</h2>
            <p>
                Pôle emploi est responsable du traitement de données à caractère personnel réalisé pour délivrer le service
                décrit à l’article 2.
                Au titre de la licéité du traitement exigée par l’article 6 du règlement général (UE) sur la protection des
                données n°2016/679 du 27 avril 2016 (RGPD), le fondement juridique du traitement est la mission d’intérêt public
                que le service permet d’exécuter en application de l’article L. 5312-1 du code du travail.
                Les données à caractère personnel suivantes de l’utilisateur sont traitées pour permettre à Pôle emploi de lui
                suggérer des événements : identifiants Pôle emploi ; nom ; prénom ; civilité ; date de naissance ; adresse
                postale ; adresse courriel ; numéro de téléphone ; expérience professionnelle ; données relatives aux offres
                consultées et aux candidatures ; données relatives à l’inscription sur la liste des demandeurs d’emploi ; nature
                et caractéristiques des emplois recherchés (zone géographique privilégiée ; niveau de salaire attendu) ; actions
                que Pôle emploi s’engage à mettre en œuvre, modalité de suivi/accompagnement ; suivi des contacts et mises en
                relation entre candidats et employeurs ; reconnaissance de la qualité de travailleur handicapé.
                Les données à caractère personnel de l’utilisateur mentionnées ci-dessus sont destinées aux agents de Pôle
                emploi en charge du projet Pôle emploi Action’s.
                Ces données à caractère personnel sont conservées pour une durée de 13 mois.
                Conformément aux articles 12 à 23 du règlement général (UE) sur la protection des données n°2016/679 du 27 avril
                2016 et à la loi Informatique et libertés n°78-17 du 6 janvier 1978 modifiée, l’utilisateur bénéficie d’un droit
                d’accès, de rectification, de limitation, de définir des directives sur le sort des données après sa mort et le
                droit de porter une réclamation devant la Commission nationale de l’informatique et des libertés (CNIL) pour les
                données le concernant.
                Pour exercer ses droits, l’utilisateur peut s’adresser à la déléguée à la protection des données de Pôle emploi
                (1 avenue du Docteur Gley, 75987 Paris cedex 20 ; <a href="mailto:contact-dpd@pole-emploi.fr">contact-dpd@pole-emploi.fr</a>).
            </p>
            <h2>5. Cookies</h2>
            <h3>5.1. Qu’est-ce qu’un cookie ?</h3>
            <p>Action's
                Un cookie est un petit fichier texte déposé sur le terminal des utilisateurs (par exemple un ordinateur, une
                tablette, un smartphone, etc.) lors de la visite d’un site internet. Il contient plusieurs données : le nom du
                serveur qui l’a déposé, un identifiant sous forme de numéro unique et une date d’expiration. Les cookies ont
                différentes fonctionnalités : ils permettent d’enregistrer les paramètres de langue d’un site, de collecter des
                informations relatives à la navigation de l’utilisateur sur les sites, d’adresser des services personnalisés,
                etc.
                Seul l’émetteur d’un cookie peut lire, enregistrer ou modifier les informations qui y sont contenues.
            </p>

            <h3>5.2. Les cookies déposés sur le site </h3>
            <p>
                Sous réserve du choix de l’utilisateur, plusieurs cookies peuvent être utilisés sur le site internet <a
                    href="https://peactions.pole-emploi.fr" target="_blank">Pôle emploi Action's</a>. Les différentes finalités
                de ces cookies sont décrites ci-dessous.
                Les cookies strictement nécessaires au fonctionnement du site internet <a
                    href="https://peactions.pole-emploi.fr" target="_blank">Pôle emploi Action's</a>. Les différentes finalités
                de ces cookies sont décrites ci-dessous.
                <b>Les cookies strictement nécessaires au fonctionnement du site internet</b>

                Des cookies sont utilisés sur <a href="https://peactions.pole-emploi.fr" target="_blank">Pôle emploi
                Action's</a> pour permettre le bon fonctionnement du site internet et l’utilisation de ces principales
                fonctionnalités.
                Ces cookies ne sont pas soumis au consentement de l’utilisateur. Ils permettent par exemple le maintien de la
                connexion, la mesure statistique d’audience et de performance du site et la conservation du choix de
                l’utilisateur sur le dépôt des cookies. Sans ces cookies, l’utilisation du site peut être dégradée et l’accès à
                certains services être rendu impossible. Il est déconseillé de les désactiver.
                L’utilisateur peut cependant s’opposer à leur dépôt en suivant les indications données au point 5.3 ci-après.
                Cookies statistiques ou de mesure d’audience 
                Des cookies sont utilisés sur le site <a href="https://peactions.pole-emploi.fr" target="_blank">Pôle emploi
                Action's</a> afin d’effectuer de la mesure d’audience, des analyses statistiques dans le but d'améliorer
                l'expérience utilisateur et la performance du site internet. Ces cookies sont déposés par des tiers pour le
                compte de Pôle emploi.
                L’utilisateur peut paramétrer le dépôt des cookies en suivant les indications données au point 5.3. Le fait de
                refuser la mise en œuvre de tels cookies n'a pas d'incidence sur la navigation sur le site.
                Pour plus d’informations sur les cookies notamment sur le type de cookies déposés ainsi que leurs finalités
                précises, vous pouvez consulter la plateforme de gestion du consentement, <a href="#"
                                                                                            onclick="tC.privacyCenter.showPrivacyCenter();return false">
                disponible ici</a>
            </p>

            <h3>5.3. Accepter ou refuser les cookies </h3>
            <p>L’utilisateur dispose de différents moyens pour gérer ses choix en matière de cookies. Les modalités de gestion
                diffèrent selon que le cookie est soumis ou non à consentement préalable. L’utilisateur peut modifier ses choix
                à tout moment.
                Pour information, le paramétrage des cookies est susceptible de modifier les conditions de navigation sur le
                site <a href="https://peactions.pole-emploi.fr" target="_blank">Pôle emploi Action's</a> ainsi que les
                conditions d’accès à certains services et d’entrainer des dysfonctionnements de certaines fonctionnalités.</p>

            <b>La plateforme de gestion de cookies ou « Privacy center »</b>
            <p>Pour les cookies donnant lieu à consentement préalable, l’utilisateur peut accepter ou refuser le dépôt de tout
                ou partie des cookies, à tout moment, en formulant des choix sur la plateforme de gestion du consentement <a
                        href="#" onclick="tC.privacyCenter.showPrivacyCenter();return false"> via ce lien dédié </a> .</p>

            <b>Le paramétrage du navigateur</b>
            <p>L’utilisateur peut accepter ou refuser le dépôt de tout ou partie des cookies, à tout moment, en modifiant les
                paramètres de son navigateur (consulter la fonction « Aide » du navigateur pour en savoir plus) ou en se rendant
                sur l’une des pages suivantes, selon le navigateur utilisé :
                Google Chrome : ( https://support.google.com/chrome/answer/95647?hl=fr )
                Internet Explorer : (https://support.microsoft.com/fr-fr/help/17442)
                Mozilla Firefox : (https://support.mozilla.org/fr/kb/activer-desactiver-cookies)
                Safari : (https://support.apple.com/fr-fr/guide/safari/sfri11471/mac)
                La plupart des navigateurs acceptent par défaut le dépôt de cookies. L’utilisateur peut modifier ses choix en
                matière de cookies à tout moment. Le paramétrage des cookies est susceptible de modifier les conditions de
                navigation sur le site Pôle emploi Action’s ainsi que les conditions d’accès à certains services et d’entrainer
                des dysfonctionnements de certaines fonctionnalités.
                Pour plus d’informations sur les cookies et les moyens permettant d’empêcher leur installation, l’utilisateur
                peut se rendre sur la page dédiée sur le site internet de la CNIL accessible à l’adresse suivante
                : https://www.cnil.fr/fr/cookies-les-outils-pour-les-maitriser.</p>

            <h2>6. Usages non autorisés</h2>
            <p>L’utilisateur ne doit pas utiliser le service dans un autre but que celui fixé à l’article 2 ou de façon
                contraire aux présentes conditions générales d’utilisation.</p>

            <h2>7. Responsabilité</h2>
            <p>Les informations publiées sur le site internet <a href="https://peactions.pole-emploi.fr" target="_blank">Pôle
                emploi Action's</a> sont fournies à titre indicatif et peuvent être modifiées à tout moment.
                Pôle emploi ne saurait être tenu pour responsable vis-à-vis de l’utilisateur des dommages de toute nature,
                directs ou indirects, résultant de l’utilisation du site internet Pôle emploi Action’s, ni de l’impossibilité
                d’y accéder.
                Pôle emploi ne saurait également être tenu pour responsable vis-à-vis de l’utilisateur des dommages de toute
                nature, directs ou indirects, résultant de l’utilisation des sites internet vers lesquels le site internet Pôle
                emploi Action’s, renvoie ni de l’impossibilité d’y accéder.</p>

            <h2>8. Propriété intellectuelle</h2>
            <p>Les marques Pôle emploi et <a href="https://peactions.pole-emploi.fr" target="_blank">Pôle emploi Action's</a>
                sont protégées au titre des articles L.712-1 et suivants du code de la propriété intellectuelle. Toute
                représentation, reproduction ou diffusion, intégrale ou partielle de l’une ou l’autre de ces marques, sur
                quelque support que ce soit, sans l'autorisation expresse et préalable de Pôle emploi constitue un acte de
                contrefaçon, sanctionné en application de l’article L.716-1 du même code. 
                Le site internet <a href="https://peactions.pole-emploi.fr" target="_blank">Pôle emploi Action's</a> contient
                des contenus sur lesquels des tiers détiennent des droits de propriété intellectuelle (dessin, graphisme,
                marque, etc.) ou un droit à l’image (ex : photo, visuel mettant en scène une personne, etc.). Les utilisateurs
                ne sont pas autorisés à réutiliser ces contenus en l’absence de l’autorisation préalable et expresse de ces
                tiers.
                Les autres contenus constituent des informations publiques librement réutilisables sous réserve du respect de la
                licence ouverte pour la réutilisation d’informations publiques consultable à l’adresse suivante
                : https://www.etalab.gouv.fr/licence-ouverte-open-licence.</p>

            <h2>9. Liens hypertextes</h2>
            <p>Le site internet <a href="https://peactions.pole-emploi.fr" target="_blank">Pôle emploi Action's</a> contient des
                liens dirigeant l’utilisateur vers des sites internet appartenant à des tiers. Pôle emploi n’est pas responsable
                de ces sites.</p>
        </div>
    </main>
    <app-footer class="footer"></app-footer>
</div>


